.row.justify-content-center {
    background-image: url('/build/descarga.jpeg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.card, .card-shadow {
    background-color: transparent !important;
}

.card-body {
    /* opacity: 0.5; */
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 16px 32px !important;
    border-radius: 6px;
}

.my-tittle {
    font-family: 'Times New Roman', Times, serif;
}
